.App{
	margin: 1rem;
}
a{
	border-radius:50px;
	padding:1em 0.8em;
	text-decoration: none;
	display: inline-block;
	margin:1em;
}
a#start{
	border:1px solid blue;
	color:blue;
}
a#end{
	border:1px solid red;
	color:red;
}
html{
	background-color: #A8D0DB;
}
h1{
	color:#2B4570;
}
h4{
	color:#2B4570;
}